#!/usr/bin/sh

pathBlockchainPhysical="b:/bitcoin"
pathBlcokchainDocker="/root/.bitcoin"
pathDataPhysical="c:/Users/YOU"
pathDataDocker="/mnt/data"

docker run -it --rm \
	-v "$pathBlockhainPhysical:$pathBlockchainDocker" \
	-v "$pathDataPhysical:$pathDataDocker" \
	cert-bundle:latest
